$color-primary: #564AFF;
$color-green: #32B436;
$color-orange: #FFA846;
$color-backgroung: #FBFBFB;
$color-text: #707070;

$focus-offset: 5px;
$focus-border-size: 3px;

$font-primary: 'Roboto', sans-serif;
$font-size: 16px;
$margin: 30px;
$border-width: 1px;
$border-radius: 3px;
$animation-duration: 0.3s;
$transition-duration: 0.3s;

$nav-width: 350px;

$logo-width: 174px;
$logo-height: 61px;
