@use "../util/" as *;

.nav {
  width: $nav-width;
  height: 100vh;
  padding: 50px;

  color: white;
  background-color: $color-primary;
  font: normal normal bold 16px/21px Roboto, sans-serif;

  display: flex;
  flex-direction: column;

  .logo {
    align-self: center;
  }
  &__links {
    padding: 0;
    margin: 1em 0;

    list-style: none;
  }
  li {
    margin: 1em 0;
  }
  a {
    @include focusable(1px);
  }
}
